/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

h1 {
    color: #9b2727;
    font-size: 200%;
    font-family: fantasy;
}

p {
  font-family: 'Times New Roman', Times, serif;
  text-indent: 20px;
  margin-left: 10px;
}

#content {
  background-color: #2fa1ac;
  width: 500px;
  min-height: 300px;
  padding: 10px;
  margin: 500px;
  border: solid 10px #091522;
  font-size: 20px;
  div {border-style: dashed;}
}
